.subsection-container
{
  width: 90%;
  margin: 20px;
  top: 10px;
  height: 100%;
  padding: 20px;
  background-color: white;
  display: inline-block;
}

.subsection-container a
{
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #3B3A36;
}

.subsection-container a:hover
{
  color: #9FA8A3;
  border-top: solid;
  border-width: 3px;
}

#icon-details
{
  float: left; 
  height: auto;
  width: 200px;
  padding: 10px;
}

#subsection-text-area
{
  text-align: left;
  padding: 15px;
  font-size: 20px;
}
