{%- comment -%}
Add an image in a post

Mandatory parameter:
 - src: the img relative path from img/posts/tutorials/<post-sub-category>/<post-name>

Optional parameters:
 - no-anchor: When true, the image will not become an anchor
 - absolute: When true, the img path is absolute
 - caption: Img caption
 - no-center: When true, won't align image to center
 - style: any additional css rules
 - class: any aditional css classes to be used
 - url: URL to make image an anchor to
{%- endcomment -%}

{% capture fig_img %}
  {{ site.url }}/images/{{ include.src }}
{% endcapture %}

{% if include.url %}
  {% assign url = include.url %}
{% else %}
  {% assign url = fig_img %}
{% endif %}

{% if counter-id == nil %}
  {% assign counter-id = 1 %}
{% endif %}
<figure>
  {% unless include.no-anchor %}
    <a href="#image?={{ counter-id }}">
  {% endunless %}
  <img {% unless include.no-center %} class="img-center" {% endunless %}
        src="{{ fig_img }}"
        {% if include.caption %} alt="{{ include.caption }}" {% endif %}
        {% if include.style %} style="{{ include.style }}" {% endif %}
        {% if include.class %} class="{{ include.class }}" {% endif %}/>
  <div class="popup-image" id="image?={{ counter-id }}">
    <div class="popup-inner-frame">
      <p>
        <img {% unless include.no-center %} class="fig-center" {% endunless %}
        srcset="{{ url }}">
      </p>
      <a href="#!" class="img-pop-up-button">x</a>
      <a href="#!" class="img-pop-up-button-close-icon">x</a>
    </div>
  </div>
  {% unless include.no-anchor %}
  </a>
  {%- endunless -%}
{% assign counter-id = counter-id | plus: 1 %}

{% if include.caption %}
  {% if counter == nil %}
    {% assign counter = 1 %}
  {% endif %}
  <figcaption {% unless include.no-center %} class="fig-center" {% endunless %}>
    <b>Figure {{ counter }}.</b>
    {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}
  </figcaption>
  {% assign counter = counter | plus: 1 %}
{% endif %}
</figure>
