{% if page.share != false %}
  <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="share share-twitter" title="Share on Twitter">
    <span>Twitter</span>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="share share-facebook" title="Share on Facebook">
    <span>Facebook</span>
  </a>
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="share share-google-plus" title="Share on Google Plus">
    <span>Google+</span>
  </a>
{% endif %}
