<div class="menu-header">
  <label for="show-menu" class="show-menu">SHOW MENU</label>
  <input type="checkbox" id="show-menu" role="button">
  <ul id="menu">
    <li><a href="{{ site.url }}/activities">Activities</a></li>
    <li><a href="{{ site.url }}/projects">Projects</a></li>
    <li><a href="{{ site.url }}/research">Research</a></li>
    <li><a id="home_logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}"></a></li>
    <li><a href="{{ site.url }}/development">Development</a></li>
    <li><a href="{{ site.url }}/miscellaneous">Miscellaneous</a></li>
    <li><a href="{{ site.url }}/about">About</a></li>
  </ul>
</div>
