.image-section
{
  margin: 3%;
  border: 1px solid white;
  float: left;
  width: 150px;
  background-color: white;
}

.image-section:hover
{
  border: 1px solid #777;
}

.image-section img
{
  width: 100%;
  height: auto;
}

.description
{
  padding: 15px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.image-text-wrapper {
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
}

.post-container {
    margin: 20px 20px 0 0;  
    border: 5px solid #333;
    overflow: auto
}
.post-thumb {
    float: left;
    padding: 5%
}

.post-thumb img {
    display: block
}

.post-content {
    margin-left: 30%;
    margin-bottom: 20%
}
