.image-section
{
  margin: 10px;
  border: 1px solid white;
  float: left;
  width: 200px;
  background-color: white;
}

.image-section:hover
{
  border: 1px solid #777;
}

.image-section img
{
  width: 100%;
  height: auto;
}

.description
{
  padding: 15px;
  text-align: center;
  font-size: 20px;
}
