.list-items-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.list-items-flex > div {
  flex: 1 1 200px;
  margin: 10px;
}

.list-items-flex > img {
  max-width: 100%;
  display: block;
}

/* Simple list */
.posts-list {
	padding: 0;
}

.posts-list li {
	padding-right: 20px;
	padding-left: 20px;
	display: block;
	list-style: none;
	border-bottom: solid;
	border-width: 3px;
	border-color: #E3E0CF;
}

.posts-list li a {
  text-decoration: none;
	border-bottom: none;
}

.posts-list li:hover {
	background-color: #EBEDEC;
}

.posts-list .date {
	float: left;
	font-size: 1rem;
}
