/**
 * This menu was created based on the following videos:
 * - https://www.youtube.com/watch?v=x-4z_u8LcGc
 * - https://www.youtube.com/watch?v=sjrp1FEHnyA
 * */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom-style: solid;
  border-color: #E3E0CF;
  border-width: 2px;
}

/* Hidden elements for the responsiveness menu. */
.header .logo {
  display: none;
}

.header .menu-btn {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  padding-right: 20px;
  list-style: none;
}

.menu li a {
  color: #3B3A36;
  display: block;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li:hover a#home_logo {
  border-top: none;
}

.menu li a img {
  max-width: 100%;
  min-width: 50%;
  display: block;
}

.menu li a:hover {
  color: #9FA8A3;
  border-top: solid;
  border-width: 3px;
}

/* Responsive Styles Menu */
@media screen and (max-width : 760px) {
  .header {
    width: 100%;
  }

  .header .logo {
    display: block;
    float: left;
  }

  .header .logo img {
    width: 50px;
    padding: 7px;
  }

  .header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav {
    width: 100%;
  }

  /* menu */
  .menu {
    clear: both;
    display: block;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .header li {
    float: left;
    width: 100%;
    padding: 5px;
  }

  .menu li a:hover {
    display: block;
    border-top: none;
  }

  .menu li:hover a#home_logo {
    border-top: none;
  }

  .menu li a img {
    display: none;
  }

  /* menu icon */
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 20px 12px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .header .menu-icon .nav-icon:before,
  .header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu-icon .nav-icon:before {
    top: 5px;
  }

  .header .menu-icon .nav-icon:after {
    top: -5px;
  }

  /* menu btn */
  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
}
