body {
  margin: 0px;
  padding: 0px;
  font-family: LiberationMonoRegular;
}

h1 {
	text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#content.post > p:not(.info-box):first-of-type::first-letter {
  font-size: 4.5rem;
  color:darkslategrey;
  padding-right: 8px;
  float: left;
  line-height: 0.6;
  margin: 2px;
  font-family: georgia;
}

.container {
  display: grid;
  grid-template-columns: 80% auto;
  grid-gap: 20px;
  max-width: 960px;
  padding: 10;
  margin: 0 auto;
  height: 96vh;
}

.container a {
  color: #399f62;
  text-decoration: none;
  border-bottom: 1px dotted #72cc96;
  word-wrap: break-word;
}

.container .content {
  grid-column-start: 1;
  font-size: 1.2rem;
  max-width: 960px;
}

.container .sidebar {
  grid-column-start: 2;
  width: 190px;
}

.container .share-bottom {
  margin: 15px 0px 15px 0px;
}
@media screen and (max-width : 760px) {
  .container {
    display: block;
    width: 100%;
    padding: 10;
  }

  .container .content {
    font-size: 1.2rem;
  }

  .container .sidebar {
    border-top-style: solid;
    height: 0;
    width: 100%;
    border-color: #E3E0CF;
    border-width: 2px;
    text-align: center;
  }
}
