---
permalink: /categories/
---

<!DOCTYPE html>
<html>
{% include head.html %}
  <body>

    {% include top-header.html %}

    <h1>Development</h1>

    <div class=list-content-box>
      <div class="image-section">
        <a href="{{ site.url }}/kernel_list">
          <img src="{{ site.url }}/images/icons/linux_a2c.png" width="300" height="200">
        </a>
        <div class="description">Linux Kernel</div>
      </div>

      <div class="image-section">
        <a href="{{ site.url }}/linux_list">
          <img src="{{ site.url }}/images/icons/code_a2c.png" width="300" height="200">
        </a>
        <div class="description">Debian</div>
      </div>

      <div class="image-section">
        <a href="{{ site.url }}/linux_list">
          <img src="{{ site.url }}/images/icons/code.png" width="300" height="200">
        </a>
        <div class="description">Useful Things</div>
      </div>
    </div>
  </body>
</html>

