---
---

<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

  {% include top-header.html %}

    <div class="list-content-box">

      <p class="notice_warning">
        <strong>Notice:
          The opinions expressed on this site are mine alone and do not
          necessarily reflect the opinions or strategies of any organization
          that I am related on.
        </strong>
      </p>

      <h2>Recent Posts</h2>
      <hr>
        <ul class="posts-list">
            {% for post in site.posts limit:3 %}
            <li>
              <h2>
                <a href="{{ site.url }}{{ post.url }}" class="post-title">
                  <span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
                </a>
                <span class="date">{{ post.date | date: '%d %b %Y' }}</span>
              </h2>
              </li>
            {% endfor %}
        </ul>
    </div>

  </body>
</html>
