---
permalink: /categories/
---

<html>
  <H1> KERNEL </H2>

    <div class="content-box">
      <h1> Tutorials </h1>
        <div class="image-section">
          <a href="{{ site.url }}/kernel_drm">
            <img src="{{ site.url }}/images/icons/linux.png" width="300" height="200">
          </a>
          <div class="description">DRM</div>
        </div>

      <div class="image-section">
        <a href="{{ site.url }}/kernel_iio">
          <img src="{{ site.url }}/images/icons/code.png" width="300" height="200">
        </a>
        <div class="description">IIO</div>
      </div>
    </div>

</html>
