---
permalink: /categories/
---
<html>
{% include head.html %}

  <body>
  {% include top-header.html %}
    <div class="content">
      <h1> Others </h1>
      <hr>

      <div class="content">
        <ul class="posts-list">
          {% for post in site.posts %}
            {% if post.categories contains 'kernel_others' %}
              <li>
                <h2>
                    <a href="{{ site.url }}{{ post.url }}" class="post-title">
                    <span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
                  </a>
                  <span class="date">{{ post.date | date: '%d %b %Y' }}</span>
                </h2>
                <p>{{ post.excerpt | strip_html | truncatewords:10 }}</p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
