---
---

<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

  {% include top-header.html %}

    <div class="inner-post content">

      <div align="center">
        {% include share.html %}
      </div>

      <div class="date-highlight">
        {% if page.date %}
          {{ page.date | date: '%d %b %Y' }}
        {% else %}
          &#x2756;
        {% endif %}
      </div>

        {{ content }}

      <br>

      <div align="center">
        {% include share.html %}
      </div>

    </div>

    {% include scripts.html %}
    {% include overlay.html %}

  </body>
</html>
