---
layout: default
---
<div>
  <div class="inner-post content">
    {{ content }}
  </div>

  <hr>
  <ul class="posts-list">
    {%- capture page_name -%}
      {{ page.name }}
    {%- endcapture -%}

    {%- for page in site.pages -%}
      {% if page.categories contains page_name %}

        {%- capture page_item_link -%}
          {{ site.url }}/{{ page.ref }}
        {%- endcapture -%}

        {%- capture page_item_title -%}
          {{ page.title }}
        {%- endcapture -%}

        {%- capture page_item_link -%}
          {{ site.url }}/{{ page.ref }}
        {%- endcapture -%}

        {%- capture page_item_icon_alt -%}
          Abstract to concrete
        {%- endcapture -%}

        {%- capture page_item_icon_path -%}
          {{ site.url }}/images/icons/{{ page.image }}.png
        {%- endcapture -%}

      <li>
        <h2>
          <a href="{{ page_item_link }}" class="post-title">
            <span>{{ page_item_title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
          </a>
        </h2>
      </li>

      {% endif %}
    {%- endfor -%}
  </ul>
</div>
