---
permalink: /categories/
---

<html>
{% include head.html %}

    <div class="content-box">
      <h1> Tutorials </h1>
        <div class="image-section">
          <a href="{{ site.url }}/kernel_list">
            <img src="{{ site.url }}/images/icons/linux.png" width="300" height="200">
          </a>
          <div class="description">Linux</div>
        </div>

      <div class="image-section">
        <a href="{{ site.url }}/linux_list">
          <img src="{{ site.url }}/images/icons/code.png" width="300" height="200">
        </a>
        <div class="description">Code</div>
      </div>
    </div>

  </body>
</html>

